<!doctype html>
<html lang="en" ng-app="ShoppingListCheckOff">
<head>
  <title>Shopping List Check Off11</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="scripts/angular.min.js"></script>
  <script src="scripts/app.js"></script>
  <link rel="stylesheet" href="styles/bootstrap.min.css">
  <style>
    .emptyMessage {
      font-weight: bold;
      color: red;
      font-size: 1.2em;
    }
    li {
      margin-bottom: 7px;
      font-size: 1.2em;
    }
    li > button {
      margin-left: 6px;
    }
    button > span {
      color: green;
    }
  </style>
</head>
<body>
  <div class="container" ng-controller="ToBuyController as list1">
    <h1>Shopping List Check Off</h1>

    <div class="row" ng-controller="AlreadyBoughtController as list2">
      
      <div class="col-md-12">
      <form class="form-inline" role="form">
      <input type="text" class="form-control" ng-model="list1.itemName" placeholder="Item Name">
      <input type="text" class="form-control" ng-model="list1.itemQuantity" placeholder="Item Quantity">
      <button type="button" class="btn btn-primary" ng-click="list1.addToBuyItems();">Save</button>
      <button type="reset" class="btn btn-default" value="Reset">Reset</button>
      </form>
      </div>

      <!-- To Buy List -->
      <div class="col-md-6">
       <h2>To Buy:</h2>
       <ul>
         <li ng-repeat="item in list1.items">Buy {{item.quantity}} {{item.name}}<button class="btn btn-default" ng-click="list1.removeBroughtItem($index);"><span class="glyphicon glyphicon-ok"></span> Bought</button></li>
       </ul>

       <div class="emptyMessage" ng-if="!list1.items.length">Everything is bought!</div>
     </div>
     <!-- Already Bought List -->
     <div class="col-md-6">
       <h2>Already Bought:</h2>
       <ul>
         <li ng-repeat="item in list2.items">Bought {{item.quantity}} {{item.name}}</li>
       </ul>
       <div class="emptyMessage" ng-if="!list2.items.length">Nothing bought yet.</div>
     </div>
   </div>
 </div>
</body>
</html>
